<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">MONITORING</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/homepagekaprodi"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title class="ion-text-center">Semester Ganjil 2020/2021</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
              <ion-item [routerLink]="['./','IF602-WWW']">
                IF602-WWW
              </ion-item>
              <ion-item [routerLink]="['./','IF602-XXX']">
                IF602-XXX
              </ion-item>
            </ion-list>
            </ion-card-content>
          </ion-card>
          <ion-button expand="block">Semester Sebelumnya</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

