<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="goBack()"><ion-icon name='log-out' slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="inputScore()" size="large">INPUT SCORE</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="monitoring()" size="large">MONITORING</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
