<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/homepagekaprodi"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <ion-searchbar
              placeholder="Search"
              ></ion-searchbar>
            </ion-col>
            </ion-row>
            <ion-card>
            <ion-row>
              <ion-col>
                <ion-list>
                  <ion-item [routerLink]="['./','Budi']"> 
                    mahasiswa 1
                    <br>
                    00000012222
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-card>
  </ion-grid>
</ion-content>
