<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/homepagedosen/monitoringdosen"></ion-back-button>
   </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
     <ion-grid>
       <ion-row>
         <ion-col>
          <ion-item>
            mahasiswa 1
            <br>
            00000012222
          </ion-item>
         </ion-col>
       </ion-row>
     </ion-grid>
    </ion-card-content>
    </ion-card>
</ion-content>
