<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">MONITORING</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/homepagemhs"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <mat-accordion class="testPanel">
    <mat-expansion-panel  >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Pertemuan 1
        </mat-panel-title>
        <mat-panel-description>
          90
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field>
        <ion-item>
          kekw
        </ion-item>
        <ion-item>
          kekw
        </ion-item>
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Pertemuan 2
        </mat-panel-title>
        <mat-panel-description>
          90
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field>
        <ion-item>
          kekw
        </ion-item>
        <ion-item>
          kekw
        </ion-item>
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>

  <ion-card>
    <ion-card-content class="ion-text-end">
      FINAL POINT : 90
    </ion-card-content>
  </ion-card>
</ion-content>
