<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">MONITORING</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/homepagedosen/monitoringdosen"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title class="ion-text-center">Semester Ganjil 2020/2021</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-card [routerLink]="['./','kekw']">
                  <ion-item>
                  Pertemuan 1
                </ion-item>
              </ion-card>
              <ion-card [routerLink]="['./','kekw']">
                <ion-item>
                Pertemuan 2
              </ion-item>
            </ion-card>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

</ion-content>
