<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/homepagekaprodi"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
     <ion-grid>
       <ion-row>
         <ion-col>
           <ion-list>
            <ion-item>
              asdfasf
              <ion-label slot="end">89</ion-label>
            </ion-item>
            <ion-item>
              <ion-label >00000012222</ion-label>
            </ion-item>
           </ion-list>       
         </ion-col>
       </ion-row>
     </ion-grid>
     
    </ion-card-content>
    </ion-card>
</ion-content>
